<%= render :partial => 'subnavigation' %> 

<div id="newplayer">
<h1>New Player Introduction</h1>

<p>The staff of ToV welcome you to our site and hope you find our system to be understandable and easy to learn. If you have any questions please contact us at <a href="mailto:staff@talesofvalor.com">staff@talesofvalor.com</a>.</p>
<p>The Tales of Valor (ToV) game is a Celtic fantasy themed role playing game designed around a lightest touch hit location boffer combat system with unique skills, spells and effects, a rich playing world and a veteran staff and player base.</p>
<p><strong>Role Playing</strong>: As a role playing game participant, you are assuming the role of a character that you create and detail through our system of race, region, skills and spells. You create a background, personality and provide costuming and props for your character and are expected to remain within this persona for an entire weekend (with the exception of emergencies, sleep time and checkin/out times). The game takes place all around you. There are other players (called PCs) and staff members (NPCs) playing characters or monsters. What you see in the game is actually happening around you and what you do actually takes effect within our world. There is no taking back an action or word, no undoing, changing or redoing of something that takes place. Once you swing a sword and hit someone you can't take it back just as when you see someone do something or something happen you don't have to worry if you saw it or not. The rule is simple, what you see happening is actually happening. </p>
<p><strong>Dedicated Site:</strong> We have a dedicated campsite with cabins, bathrooms, showers, usable structures and resources that we utilize in the playing of our game. This dedicated campsite allows us to better create your playing world and maintain cohesion between events. It also means a more relaxed camping atmosphere without fear of being washed away, having to use a composting outhouse or having somewhere dry and warm. We openly and actively encourage game participants to bring decoration materials with them to decorate their cabins and add that extra flair to the living spaces to make them feel more like building in our world and not just camp cabins in the woods. </p>
<p><strong>Immersive RP Experience:</strong> This is our standard and expectation from everyone involved with our game from player to staff member. While you are playing in our game you are expected to remain in character 100 percent of the time, with the exception of obvious circumstances (emergencies, check in/out, sleep time, showers, etc...). Once you are signed into the event and walk onto the event site you remain in character from the game on mark until you leave or the game out mark is reached. This creates a rich game world with no distractions from game play. Everything that occurs within the playing area is considered to be in game at all times during game play. The only out of game buildings are the Logistics building, Staff sleeping areas, the Kitchen, designated player sleeping arraignments, Restrooms, and emergency facilities.<br />
  There are, of course, rules governing what you can and can not do during the game and you are expected at all times to respect other players, staff and participants of the game and obey all directions given to you by staff members. Always remember that you are playing a character and that this is a game, not reality. </p>
<p><strong>Combat</strong>: A lightest touch hit location boffer combat system means that in order to strike someone with your sword you actually need to safely swing the weapon and hit a location on your opponent. We have a rules section that details the regulations governing this type of combat and how to play out the effects (if you are hit).<br />
  This does mean that there is a chance that you could be hit on the top of your head and your character killed if you are not careful. On the other hand it does mean that your character will not die from being hit in the ankle. </p>
<p>Our number one priority with combat is safety. Our staff has a vast number of years combined experience in various boffer systems to draw from in ensuring that your experience is a safe one. All weapons are inspected before being allowed into play and we have strict rules governing what a weapon may be made out of and how it is constructed to be considered safe for our game. Again, your safety is our primary concern and we do everything we can to ensure that our game is safe and enjoyable to play. We feel our system is fair, in that you need some personal skill to be able to hit your opponent yet balanced through skills that allow you as a character to gain abilities that reflect the game system and the growth of a character in that system. We actively encourage our players and staff to strive towards greater physical skill in weapon usage because it creates a safer playing environment and a more enjoyable experience. </p>
<p><strong>What to expect:&nbsp; </strong>First events are always a little intimidating, especially for a novice player attending an Immersive RP system for the first time. Our best advice is to become familiar with the rules, find out background information, make friends and talk to everyone. An entire weekend spent alone is not very much fun for just about anyone and while playing the sneaky and skulking character may appeal to you, you will probably find the event quite boring if you never interact with anyone on a person to person basis. </p>
<p><strong>What to</strong> <strong>bring to a first event:&nbsp; </strong>Think of this as both a camping trip and a role playing event. You need all the supplies to camp for 2 nights in a cabin and all the supplies to outfit your character and play them for the weekend. Here is a list of essentials in no particular order...</p>
<ul type="disc">
  <li>Sleeping Bag/Blankets</li>
  <li>Toiletries &amp; Shower Gear</li>
  <li>Makeup w/ remover and mirror</li>
  <li>Spare socks, boots, underwear      and underclothes</li>
  <li>Costume, Accessories and      Props</li>
  <li>Armor and Boffer Weapons,      always important not to forget these...</li>
  <li>Medication and First Aid Kit </li>
  <ul type="circle">
    <li>If you have a serious       medical condition please let the staff know.</li>
    </ul>
  <li>Lightsticks (for light      spells)</li>
  <li>Spell Packets (for spell      casters)</li>
  <li>Insect Repellant !!!</li>
  <li>Gloves (warm gloves in colder      weather) and a cloak if you have one</li>
  <li>Directions to the Camp</li>
  <li>Pouches, we definitely      recommend getting some pouches</li>
  <li>Food and Drink (no alcohol)      Not just big items but lots of snacks</li>
</ul>
<p>Now that you have gotten all your stuff and made your way to the campsite, what can you expect... </p>
<p>Well at first you will need to check in, register your character (helps to have them made ahead of time), sign a waiver (mandatory), have your equipment inspected, find a cabin to sleep in and check the message board for announcements and updates. There is an official game start time, before which a staff member will make announcements, answer some questions etc... After that it is time for the game. From leaving the check in location until you leave the game or the game ends for the weekend, you will be playing your character. </p>
<p>Above all else, HAVE FUN! </p>
</div>