<%= render :partial => 'pguidesubnavigation' %> 

<div id="pguide">
<h1>What to expect at your first event</h1>

<p>So you have made the decision to attend an event.  Congratulations and welcome aboard.  With that being said it may be a bit daunting trying to imagine all the little details that will become important to your enjoyment of your first event.  This section is designed to try and alleviate some of those fears through the piercing sunray of knowledge.  You can thank Archimedes when you see him next.</p>

<p>Think of this as both a camping trip and a role playing event. You need all the supplies to camp for 2 nights in a cabin and all the supplies to outfit your character and play them for the weekend. Here is a list of essentials in no particular order...</p>
<ul type="disc">
  <li>Sleeping Bag/Blankets</li>
  <li>Toiletries &amp; Shower Gear</li>
  <li>Makeup w/ remover and mirror if you need them</li>
  <li>Spare socks, boots, underwear      and underclothes</li>
  <li><a href="wacp">Costume, Accessories and Props</a></li>
  <li><a href="wacp">Armor and Boffer Weapons</a>, always important not to forget these...</li>
  <li>Medication and First Aid Kit </li>
  <ul type="circle">
    <li>If you have a serious medical condition please let the staff know.</li>
  </ul>
  <li>Lightsticks (for light spells)</li>
  <li>Spell Packets (for spell casters)</li>
  <li>Insect Repellant !!!</li>
  <li>Gloves (warm gloves in colder weather) and a cloak if you have one</li>
  <li><a href="directions">Directions to the Camp</a></li>
  <li>Pouches, we definitely recommend getting some pouches</li>
  <li>Food and Drink (no alcohol)      Not just big items but lots of snacks</li>
</ul>

<h3>Camp Facilities</h3>
<p>Camp Howe is a full 4h camp and has many amenities that make the event experience a bit more tollerable.  There are 4ish shower facilities with hot water most of the time, full bathrooms with power, mirrors and sinks, parking areas, cabins with power and cots with mattresses.</p>

<h3>Meal Plan</h3>
<p>Our mealplan provides breakfast on Saturday (8am till 10am) and Sunday (8:30am till 10am) along with lunch on Saturday (Noon till 1:30pm)and a full dinner (6pm till 7:30pm) with dessert later on Saturday evening.  Menus are set before the event and posted to the message boards.  A vegetarian option is offered.  If you have dietary allergies please inform our staff before attending via email.  We unfortunately can not always tailor food options to accomodate some food allergies.  Spaces are available for cooking your own food via firepit and limited storage space is available in the kitchen cooler for food storage at the event if arangements are made ahead of time with Lisa, Sean or Erica.</p>

<h3>Parking</h3>
<p>There are spaces for camping at the entry to the camp and also past the upper cabin area on the right.  Cars may not be parked on the fire roads or they may be towed by the local PD.</p>

<h3>Weapons, Armor and Props</h3>
<p>While you are playing our game you are expected to be using weapons and armor that conform to our safety guidelines.  All weapons must be inspected at the start of each event and will receive a Tales of Valor item tag if they pass inspection.  Weapons that become physically broken during the game are expected to be placed clearly out of game until they are repaired so that someone does not inadvertantly pick them up and use them.</p>
<p>Props are the little things that help define your character such as a journal, eating kit, jewelry, etc...  These do not need to be inspected and are considered non-stealable unless you wish to mark them as stealable IG props.</p>
<p>As has been stated elsewhere, all props, armor and weapons must look the part and mesh with our game theme.  No ray-guns or robots allowed.</p>

<h3>The day of the Event: Or Oh My! Its Friday already!!!</h3>
<p>The day of the event has arrived!  All that stands between you and the event is a horde of ravening walking dead.  Oh, sorry, wrong script.  Anyway you should plan to arrive at the campsite between noon and 8pm on Friday.  Noon is the absolute earliest anyone shows up and 8pm gives you an hour or so to get ready once you are onsite.  Most people shoot for something inbetween depending on whether they are going to help setup or not.  If you can not make it to the site before game on, fret not brave adventurer for all is not lost.  I will go over arriving late and helping setup in the following sections.</p>
<p>For now, check your directions, packing, preparations and head out on the road. Getting to the camp is fairly simple as indicated by our <a href="directions">directions</a> page.</p>

<p>Once you manage to arrive at the event site, which can be no small task according to some who have experienced mild catastrophe en route, what you do with your time is up to you.  The important tasks in front of you are:  checking in with an admin, getting your cabin assignment and unloading your gear, getting settled in your cabin/sleeping arrangements, eating some food and eventually getting into costume and ready for the event to start around 9:30.  Many people take this time to catch up with friends and hang out in general. There are those, however, who choose to go above and beyond and help us set up the event site.  In truth, without these helpful hands, things would not start on time and for that help we are eternally greatful.</p>

<h3>Setting Up</h3>
<p>Helping to set up takes many forms.  The key is to check in the the various admin people to find out what there is to be done.  If you do not know any of the admins on sight you should check the tavern building, it is the large on with a pyramid shaped roof.  Simply look for the person being swamped by a lot of other people and ask them nicely if they know where the admins are.  Once you are checked in the admin will give you some task that needs to be done or send you to a location that needs more general help and if this is your first time at setup, up you must fight...wait wait...Sean took that out a few years ago.  If you are new to setting up we will try to pair you up with someone a bit more knowledgeable.  Typical setup tasks are helping hang tapestries, organize logistics (where the staff costumes/masks/etc are stored), unload our storage building (yeah it is a whole building piled with our stuff), help setup the module building (where we run all of our indoor module/dungeon crawls).  Setup in one form or another lasts until game on but as a player you are free to bow out at any time as long as you keep track of how much time you spent helping (so we can reward you later with some extra character points).  The other benefit of helping setup all day is that we usually cook burgers for you at dinner time.  </p>
<p>Here are the primary areas that need setup help on a regular basis</p>
<ul>
<li>Module Buildings (small and large)</li>
<li>Logistics</li>
<li>Tavern</li>
<li>Shrine, Mage/Alchemist Guild, Forge, Grove of Memories, Library</li>
</ul>

<h3>Game Hours</h3>
  
  <p>Game On usually takes place around 9-9:30pm on Friday night.  On some occasions this time has to be moved back to ensure the quality of the game and we will let people know as soon as possible when this occurs.  The game starts with an Out of Game meeting where any clarifications and event specific details will be reviewed.  This meeting is held in the Tavern and all players are expected to attend. After the meeting is over you will usually be given a short period of time to finilize makeup/preparation before game begins.  </p>
  <p>New Characters are brought into game in a specific manner at each event and will be informed of the staging area where they should assemble after the meeting.</p> 
  
  <p>Game hours are usually 9pm Friday night till 2am Saturday morning and then 9am Saturday morning until 2am Sunday morning and 9am Sunday morning till 2pm Sunday afternoon.  While game is in session, all interactions are considered In Game at all times and we practice a WYSIWYG (what you see is what you get) approach to LARP.</p>
<h3>Checking In</h3>
  <p>Check In begins in the Tavern before Game On around 7pm and at Logistics after Game On. Usually there will be two tables set up, one for prop inspection and one for actual check in.  At the actual check in you will be required to hand in any monies that you owe for the event and also sign any relevant game documents. You will be handed your character packets to check over and also you can ask any questions you may have about the information you have been given. Everyone is given an envelope with their character sheet and any pertinent documents that they may be owed for Between Game Skills and IG money that you have earned from the craftsman skills. After you are done checking in you are free to spend your time as you wish until Game On.</p>
  <p>All weapons and armor need to be checked and approved before they can be used at the event. If we feel any of your weapons, armor or items does not meet our standard we will be glad to explain our reasoning and also offer advice as to how to correct any problems that we have found. We can not, however, offer onsite repair services or materials for your items.</p>
  <h3>Arriving Late</h3>
  <p>If you happen to be arriving late we ask that you not drive your car all the way into the event site and if you have to drive your car up to logistics that you go very slow and only use parking lights once you approach the camp proper.  You will be given an opportunity to move your car once game is out at 2am. While we understand that this can be an inconvenience for those arriving late it preserves the atmosphere of the game for those already playing. Check in for late arrivals is handled in the Logistics building which is next to the Tavern. Knock on the door and wait for someone to come help you out. If you are a new player arriving late, make sure the admin in Logistics is aware of this as they may have special plans for you. While we want to make sure that you get to enter the game as soon as possible, please be patient with the admins you encounter as they are trying to juggle many game items at that time. When you arrive late, you still need to have your weapons and armor checked before using them at the game.</p>
  <h3>OOG Camp Map</h3>
  <p>Here is a map of the important locations at the camp including showers and bathrooms. You can view image to see it in much larger resolution.</p>
  <p align="center"><img src="http://characters.talesofvalor.com/stylesheets/img/camp.jpg" width="500" height="711" alt="camp" /></p>
  <p>&nbsp;</p>
  
  
</div>