<%= render :partial => 'pguidesubnavigation' %> 

<div id="pguide">
<h1>A Player&#39;s Guide to our Game</h1>

<p>Becoming part of a LARP can be a daunting endeavor for even the most seasoned veterans.  Often there are nuances that are not apprent from the published rules or message boards.  It is our goal to provide this section of our website and rule book as a way to address that chasm of knowledge that exists between published words and the experience of countless participants.</p>
<p>Rules Books do a very good job of conveying their pertinent information.  They are the goto resource for game systems, character creation and background information about the game.  What they do not address, however, is how the game plays out and how best to acclimate yourself to the game and hit the ground with your feet running.  They are also not a great place for a lot of event specific information and how to articles from a player&prime;s perspective.  As a former player and now staff member, I hope to provide you, the player or staff member, with as much information to help you get the most out of the game experience as possible.</p>
<p>This is a work in progress, as you can see.  If you would like to add something to this guide, contact me.</p>

</div>