<div class="center">
<h1>Game Systems</h1>
<p>Here you will find all of our published information about the game, be it rules, background information or maps.  All are presented in PDF format.  If you do not have a PDF viewer, you can download one free by clicking on the following link.<br><br> <a href="http://get.adobe.com/reader/" target="_new"><img src="/images/get_adobe_reader.gif"></a></p>
<table width="100%" class="rtable">
<tr><th>Game Rules</th></tr>
<tr><td><a href="http://www.talesofvalor.com/gamefiles/ToVRules2012.pdf" target="_new">Tales of Valor 2012 Rules Book</a></td></tr>
<tr><td><a href="http://www.talesofvalor.com/gamefiles/Errata2012.pdf" target="_new">Tales of Valor 2012 Rules Errata</a></td></tr>
<tr><td><a href="#">Player Guide - Coming Soon</a></td></tr>
<tr><td><a href="http://www.talesofvalor.com/gamefiles/JhorilMap.pdf" target="_new">Map of the Known World Circa 1029NE</a></td></tr>
</table>
<br><br>
<table width="100%">
<tr><th>Game Information Packets</th></tr>
<tr><td><a href="http://www.talesofvalor.com/gamefiles/BarbariansRP.pdf" target="_new">The Free Peoples RP</a></td></tr>
<tr><td><a href="http://www.talesofvalor.com/gamefiles/DahnRP.pdf" target="_new">Dahn RP</a></td></tr>
<tr><td><a href="http://www.talesofvalor.com/gamefiles/DrakkonRP.pdf" target="_new">Drakkon RP</a></td></tr>
<tr><td><a href="http://www.talesofvalor.com/gamefiles/DunDarmacRP.pdf" target="_new">Dun Darmac RP</a></td></tr>
<tr><td><a href="http://www.talesofvalor.com/gamefiles/DunHaventhalRP.pdf" target="_new">Dun Haventhal RP</a></td></tr>
<tr><td><a href="http://www.talesofvalor.com/gamefiles/DunMeleaRP.pdf" target="_new">Dun Melea RP</a></td></tr>
<tr><td><a href="http://www.talesofvalor.com/gamefiles/FflorRP.pdf" target="_new">Fflor RP</a></td></tr>
<tr><td><a href="http://www.talesofvalor.com/gamefiles/FirbolgRP.pdf" target="_new">Firbolg RP</a></td></tr>
<tr><td><a href="http://www.talesofvalor.com/gamefiles/FreilanRP.pdf" target="_new">Freilan RP</a></td></tr>
<tr><td><a href="http://www.talesofvalor.com/gamefiles/ItanRP.pdf" target="_new">The Empire of Itan RP</a></td></tr>
<tr><td><a href="http://www.talesofvalor.com/gamefiles/PirateIslesRP.pdf" target="_new">The Seaward Isles RP</a></td></tr>
<tr><td><a href="http://www.talesofvalor.com/gamefiles/SidheRP.pdf" target="_new">The Sidhe Kingdoms RP</a></td></tr>
<tr><td><a href="http://www.talesofvalor.com/gamefiles/Sidheaffinityguide.pdf" target="_new">Sidhe Affinity Guide</a></td></tr>
<tr><td><a href="http://www.talesofvalor.com/gamefiles/TaerusRP.pdf" target="_new">The Taerus Empire RP</a></td></tr>
<tr><td><a href="#">The People of the Wasteland RP - Coming Soon</a></td></tr>


</table>
<br><br>
</div>