<%= link_to_remote "<img src=\"/images/#{session[:players].include?(player) ? "newselected" : "newunselected"}.gif\" border=0>",
	:update => ('toggle_' + player.id.to_s), :url => { :action => :toggle, :id => player} %>