<div id="menu">
<ul>
<li><%= link_to 'Details', :action => :edit, :id => char.id %></li>
<li><%= link_to 'Race', :action => :addrace, :id => char.id %></li>
<li><%= link_to 'Background', :action => :addbackground, :id => char.id %></li>
<li><%= link_to 'Skills', :action => :pick, :id => char.id %></li>
</ul>
</div>


