<h1>New character</h1>

<% form_tag :action => 'create' do %>
  <%= render :partial => 'form' %>
  <%= submit_tag "Create and Continue" %>
  <%= submit_tag "Create and Exit" %>
<% end %>

<%= link_to 'Back', :action => 'list' %>
